@import "tailwindcss";

:root {
  --background: #e0f2fe;
  --foreground: #0c1a2e;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: #0369a1;
  --primary-dark: #0c1a2e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c1a2e;
    --foreground: #e0f2fe;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}